.post-page
	max-width: 600px
	margin-left: auto
	margin-right: auto
	padding: 2.6rem 1.4rem
	font-family: Merriweather
	color: $dark-grey
	.back-button
		padding: 12px 0
		border: 2px solid $dark-grey
		font-family: 'Source Sans Pro'
		font-weight: 900
		font-size: 14px
		text-align: center
		width: 90px
		transition: 0.3s ease
		color: $dark-grey
		margin-top: 50px
		&:hover
			cursor: pointer
			background-color: $dark-grey
			color: $white
	.post-title
		margin-top: 70px
		font-family: 'Source Sans Pro'
		line-height: 42px
		font-weight: 900
		color: $light-blue
		font-size: 48px
	.post-date
		font-family: Merriweather
		margin-top: 6px
		font-size: 12px
	.post-body
		margin-top: 40px
		margin-bottom: 80px